<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gratitudejournal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".parse.ParseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GratitudeJournal"
        tools:targetApi="31">
        <activity
            android:name=".ui.StatsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewCloseFriendEntriesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewCloseFriendMentionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewFriendMentionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ViewMentionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MentionFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QuoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ScrollActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ComposeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />

        <receiver
            android:name=".Alarm"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name=".StartAppOnBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>